:root {
  --main-font: "Plus Jakarta Sans";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1340px;
  margin: 0 auto;
  padding: 0 20px;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__left {
  display: flex;
  column-gap: 64px;
}
.header__title {
  font-size: 32px;
  letter-spacing: -3%;
  font-family: var(--main-font);
}
.header__input {
  width: 492px;
  display: flex;
  align-items: center;
  border: 1px solid #c3d4e966;
  border-radius: 71px;
}
header {
  margin: 20px 0;
}

.header__inner-input {
  width: 350px;
  outline: none;
  border: none;
  padding: 12px 0;
}
.lupa {
  font-size: 24px;
  color: #596780;
  margin: 0 20px;
}
.settings {
  font-size: 24px;
  margin-left: 20px;
  color: #596780;
}

.header__right_list {
  list-style: none;
  display: flex;
  column-gap: 20px;
}
.right__item {
  border-radius: 50%;
  border: 1px solid #c3d4e966;
}

.right__item_img {
  border-radius: 50%;
}
.icons {
  font-size: 24px;
  margin: 10px;
  color: #596780;
}
.ad__inner {
  display: flex;
  flex-direction: column;
}
.ad__list {
  list-style: none;
  display: flex;
  column-gap: 32px;
}
.ad__item {
  display: flex;
  flex-direction: column;
  width: 640px;
  background-image: url("img/koenigg_bg.jpg");
  background-repeat: no-repeat;
  border-radius: 6px;
  background-size: cover;
  padding: 24px 10px 0 24px;
}
.ad__item:nth-child(2) {
  background-image: url("img/nissan_bg.jpg");
}
.ad__info {
  width: 284px;
  font-family: var(--main-font);
  color: #fff;
}
.ad__title {
  font-weight: 600;
  font-size: 32px;
  line-height: 150%;
  margin-bottom: 16px;
}
.ad__txt {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -1px;
  align-self: start;
  margin-bottom: 20px;
}
.ad__link {
  text-decoration: none;
}
.ad__btn {
  font-family: var(--main-font);
  font-weight: 600;
  font-size: 16px;
  letter-spacing: -1px;
  padding: 10px 20px;
  border: none;
  background-color: #3563e9;
  color: #fff;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn2 {
  background-color: #54a6ff;
}
.ad__pic {
  align-self: center;
}
.rent__radio {
  border: 4px solid #3563e9;
}
.rent__item_top {
}
.rent__item_title {
}
.rent__item_list {
}
.rent__inner__item {
}
.rent__title {
}
.rent__choouse {
}
.rent__city {
}
.fa-solid {
}
.fa-angle-down {
}