:root {
  --main-font: "Plus Jakarta Sans";
}
body {
  font-family: var(--main-font);
  overflow-x: hidden;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.rent__real_city {
  display: none;
}
.container {
  width: 1340px;
  margin: 0 auto;
  padding: 0 20px;
}

main {
  background-color: #f6f7f9;
  padding-top: 32px;
  margin: 0;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__left {
  display: flex;
  column-gap: 64px;
}
.header__title {
  font-size: 32px;
  letter-spacing: -3%;
}
.header__input {
  width: 492px;
  display: flex;
  align-items: center;
  border: 1px solid #c3d4e966;
  border-radius: 71px;
}
header {
  padding: 20px 0;
}

.header__inner-input {
  width: 350px;
  outline: none;
  border: none;
  padding: 12px 0;
}
.lupa {
  font-size: 24px;
  color: #596780;
  margin: 0 20px;
}
.settings {
  font-size: 24px;
  margin-left: 20px;
  color: #596780;
}

.header__right_list {
  list-style: none;
  display: flex;
  column-gap: 20px;
}
.right__item {
  border-radius: 50%;
  border: 1px solid #c3d4e966;
}

.right__item_img {
  border-radius: 50%;
}
.icons {
  font-size: 24px;
  margin: 10px;
  color: #596780;
}

.ad__inner {
  display: flex;
  flex-direction: column;
}
.ad__list {
  list-style: none;
  display: flex;
  column-gap: 32px;
}
.ad__item {
  display: flex;
  flex-direction: column;
  width: 640px;
  background-image: url("img/koenigg_bg.jpg");
  background-repeat: no-repeat;
  border-radius: 6px;
  background-size: cover;
  padding: 24px 10px 0 24px;
}
.ad__item:nth-child(2) {
  background-image: url("img/nissan_bg.jpg");
}
.ad__info {
  width: 284px;

  color: #fff;
}
.ad__title {
  font-weight: 600;
  font-size: 32px;
  line-height: 150%;
  margin-bottom: 16px;
}
.ad__txt {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -1px;
  align-self: start;
  margin-bottom: 20px;
}
.ad__link {
  text-decoration: none;
}
.ad__btn {
  font-weight: 600;
  font-size: 16px;
  letter-spacing: -1px;
  padding: 10px 20px;
  border: none;
  background-color: #3563e9;
  color: #fff;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn2 {
  background-color: #54a6ff;
}
.ad__pic {
  align-self: center;
}
.rent__radio {
  border: 4px solid #3563e9;
}
.rent__item_top {
  display: flex;
  align-items: center;
  column-gap: 8px;
  margin-bottom: 16px;
}
.rent__item_title {
  font-size: 16px;
  line-height: 150%;
}
.rent__item_list {
  display: flex;
  /* column-gap: 20px; */
  justify-content: space-between;
}
.rent__inner__item {
  display: flex;
  flex-flow: column;
  row-gap: 8px;
  border-right: 1px solid #c3d4e966;
  padding-right: 24px;
}
.rent__inner__item:nth-child(3n) {
  border: none;
}

.rent__title {
  line-height: 150%;
  letter-spacing: -1px;
  font-weight: 700;
  font-size: 16px;
}
.rent__choouse {
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.paski_chiziq {
  margin-bottom: -3px;
  color: #1a202c;
}
.rent__city {
  font-size: 12px;
  color: #90a3bf;
  line-height: 100%;
}

.ad__bottom_left {
  width: 576px;
  padding: 24px 48px;
  background-color: #fff;
  margin-top: 32px;
  border-radius: 10px;
  margin-bottom: 32px;
}
.ad__bottom {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}
.ad__bottom_center {
  color: white;
  background-color: #3563e9;
  border-radius: 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  padding: 18px;
  margin: 0 40px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.arrow {
  font-size: 24px;
  font-weight: 400;
}
.container1 input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.container1 {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 20px;
  user-select: none;
  transition: 100ms;
}

.checkmark {
  top: 0;
  left: 0;
  height: 24px;
  width: 24px;
  transition: 100ms;
  animation: dislike_effect 400ms ease;
}

.container1 input:checked ~ .checkmark path {
  fill: #ff5353;
  stroke-width: 0;
}

.container1 input:checked ~ .checkmark {
  animation: like_effect 400ms ease;
}

/* .container1:hover {
  transform: scale(1.1);
} */

@keyframes like_effect {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes dislike_effect {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}
.products__list {
  list-style: none;
  display: flex;
  /* column-gap: 32px; */
  align-items: center;
  justify-content: space-between;
}
.products__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.products__title {
  font-weight: 600;
  font-size: 16px;
  color: #90a3bf;
}
.products__link {
  text-decoration: none;
  color: #3563e9;
  font-weight: 600;
  font-size: 16px;
}
.products__inner {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}

.products__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 290px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
}
.item__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 64px;
}

.products__header_left {
  display: flex;
  flex-direction: column;
}
.item__title {
  font-size: 20px;
  line-height: 150%;
  letter-spacing: -1.1px;
  vertical-align: middle;
}
.item__subtitle {
  font-weight: 700;
  color: #90a3bf;
  font-size: 14px;
}
.products__img {
  align-self: center;
}
.bottom {
  margin-bottom: 0px;
}
.products__bottom {
  display: flex;
  list-style: none;
  width: 256px;
  justify-content: space-between;
  align-items: center;
  margin-top: 64px;
  margin-bottom: 24px;
  /* column-gap: 10px; */
}
.products__bottom:nth-child(2n) {
  margin-bottom: 20px;
}
.products__bottom_item {
  display: flex;
  column-gap: 6px;
  align-items: center;
  justify-content: center;
  color: #90a3bf;
}
.item__gas_station {
  font-size: 20px;
}
.products__item_text {
  font-size: 14px;
}
.item__manual {
  font-size: 20px;
}
.products__people {
  font-size: 20px;
}
.products__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-top: 24px; */
}

.products__footer_left {
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
}

.another__price {
  flex-direction: column;
}

.products__real_price {
  display: flex;
  align-items: center;
}
.products__del_price {
  margin-left: -48px;
  color: #90a3bf;
  font-size: 14px;
  font-weight: 700;
}
.products__price {
  font-size: 20px;
  vertical-align: middle;
}
.products__day {
  font-weight: 700;
  font-size: 14px;
  vertical-align: middle;
  color: #90a3bf;
  margin-bottom: -4px;
}
.products__footer_link {
  text-decoration: none;
}
.products__btn {
  font-weight: 600;
}
.productss__inner {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}
.products__end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.products__end_txt {
  font-size: 14px;
  letter-spacing: -1px;
  color: #90a3bf;
  font-weight: 500;
  line-height: 150%;
}
.products__bottom__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 720px;
}
.products__end__link {
  text-decoration: none;
}
.products__end_btn {
  border: none;
}
footer {
  padding-top: 80px;
  margin-bottom: 60px;
}
.footer__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 36px;
  border-bottom: 1px solid #13131329;
  margin-bottom: 36px;
}
.footer__left_top {
  width: 265px;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  align-self: start;
}
.footer__left_title {
  font-size: 32px;
  line-height: 150%;
  color: #3563e9;
  letter-spacing: -1px;
}
.footer__left_text {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -1px;
  font-weight: 500;
  color: #90a3bf;
}
.footer__right_top {
  display: flex;
  column-gap: 60px;
  justify-content: center;
  align-items: center;
}
.footer__list_wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  align-items: start;
  justify-content: center;
}
.footer__right_title {
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: -0.8px;
}
.footer__right_list {
  list-style: none;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  justify-content: center;
}

.footer__item_link {
  text-decoration: none;
  color: #13131399;
}
.footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__bottom_right {
  line-height: 150%;
  letter-spacing: -0.8px;
  font-weight: 600;
}
.footer__bottom_left {
  display: flex;
  column-gap: 60px;
}
.left__policy {
  line-height: 150%;
  letter-spacing: -0.8px;
  font-weight: 600;
}
.header__input1 {
  display: none;
}
@media (max-width: 390px) {
  .container {
    width: 370px;
    padding: 0 20px;
    /* margin: 0 auto; */
  }
  .header {
    margin: 0 auto;
  }
  .right__item {
    display: none;
  }
  .right__item_img {
    /* display: inline-block; */
    order: 1;
  }
  .header__title {
    font-size: 24px;
    line-height: 120%;
    order: 1;
  }
  .header__input {
    order: 2;

    display: none;
  }
  .header__input1 {
    display: inline-block;
    width: 300px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    margin-top: 32px;
    justify-content: center;
  }
  .settings {
    margin-right: 12px;
  }
  .lupa {
    margin: 0 10px;
  }
  .header__right {
    order: 1;
  }
  .header__right_list {
    order: 1;
  }
  .right__item {
    order: 1;
  }
  .ad__title {
    font-size: 18px;
    line-height: 120%;
  }
  .ad__txt {
    font-size: 16px;
    line-height: 160%;
  }
  .ad__item:nth-child(2n) {
    display: none;
  }
  .ad__pic {
    width: 196px;
    height: 56px;
  }
  .adsss {
    transform: scale(0.9);
    margin-left: -8px;
  }
  .rent__choouse {
    column-gap: 4px;
  }
  .rent__real_city {
    display: inline-block;
    font-size: 12px;
    letter-spacing: -0.4px;
  }
  .rent__city {
    display: none;
  }
  .ad__bottom {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .ad__bottom_left {
    width: 327px;
    margin-bottom: 0px;
    padding: 16px;
  }
  .ad__bottom_center {
    position: absolute;
    top: calc(50% - 11px);
    padding: 1px;
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
  .arrow {
    font-size: 20px;
  }
  .scroll {
    width: 351px;
    overflow-y: hidden;
    overflow-x: auto;
  }
  .products__item {
    flex: 0 0 240px;
  }
  .column {
    flex-direction: column;
  }
  .products__list:nth-child(3) {
    display: none;
  }
  .footer__left_title {
    font-size: 24px;
  }
  .footer__left_text {
    font-size: 16px;
  }
  .footer__top {
    flex-wrap: wrap;
  }
  .footer__right_list {
    row-gap: 12px;
    font-size: 16px;
    width: 142px;
  }
  .footer__list_wrapper {
    row-gap: 12px;
  }
  .footer__right_top {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
  .products__bottom__inner {
    width: 240px;
  }
  .footer__list_wrapper {
    min-width: 142px;
  }
  .footer__bottom_right {
    order: 2;
  }
  .footer__bottom_left {
    display: flex;
    justify-content: space-evenly;
    column-gap: 0;
    flex-direction: row;
    align-items: center;
  }
  .left__policy {
    margin-right: 80px;
    width: 128px;
  }
  .footer__bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 20px;
    column-gap: 30px;
  }
  .footer__bottom_right {
    grid-column: 1 / 3;
  }
}
