:root {
  --main-font: "Plus Jakarta Sans";
}
body {
  font-family: var(--main-font);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1340px;
  margin: 0 auto;
  padding: 0 20px;
}

main {
  background-color: #f6f7f9;
  padding-top: 32px;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__left {
  display: flex;
  column-gap: 64px;
}
.header__title {
  font-size: 32px;
  letter-spacing: -3%;
}
.header__input {
  width: 492px;
  display: flex;
  align-items: center;
  border: 1px solid #c3d4e966;
  border-radius: 71px;
}
header {
  padding: 20px 0;
}

.header__inner-input {
  width: 350px;
  outline: none;
  border: none;
  padding: 12px 0;
}
.lupa {
  font-size: 24px;
  color: #596780;
  margin: 0 20px;
}
.settings {
  font-size: 24px;
  margin-left: 20px;
  color: #596780;
}

.header__right_list {
  list-style: none;
  display: flex;
  column-gap: 20px;
}
.right__item {
  border-radius: 50%;
  border: 1px solid #c3d4e966;
}

.right__item_img {
  border-radius: 50%;
}
.icons {
  font-size: 24px;
  margin: 10px;
  color: #596780;
}

.ad__inner {
  display: flex;
  flex-direction: column;
}
.ad__list {
  list-style: none;
  display: flex;
  column-gap: 32px;
}
.ad__item {
  display: flex;
  flex-direction: column;
  width: 640px;
  background-image: url("img/koenigg_bg.jpg");
  background-repeat: no-repeat;
  border-radius: 6px;
  background-size: cover;
  padding: 24px 10px 0 24px;
}
.ad__item:nth-child(2) {
  background-image: url("img/nissan_bg.jpg");
}
.ad__info {
  width: 284px;

  color: #fff;
}
.ad__title {
  font-weight: 600;
  font-size: 32px;
  line-height: 150%;
  margin-bottom: 16px;
}
.ad__txt {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -1px;
  align-self: start;
  margin-bottom: 20px;
}
.ad__link {
  text-decoration: none;
}
.ad__btn {
  font-weight: 600;
  font-size: 16px;
  letter-spacing: -1px;
  padding: 10px 20px;
  border: none;
  background-color: #3563e9;
  color: #fff;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn2 {
  background-color: #54a6ff;
}
.ad__pic {
  align-self: center;
}
.rent__radio {
  border: 4px solid #3563e9;
}
.rent__item_top {
  display: flex;
  align-items: center;
  column-gap: 8px;
  margin-bottom: 16px;
}
.rent__item_title {
  font-size: 16px;
  line-height: 150%;
}
.rent__item_list {
  display: flex;
  /* column-gap: 20px; */
  justify-content: space-between;
}
.rent__inner__item {
  display: flex;
  flex-flow: column;
  row-gap: 8px;
  border-right: 1px solid #c3d4e966;
  padding-right: 24px;
}
.rent__inner__item:nth-child(3n) {
  border: none;
}

.rent__title {
  line-height: 150%;
  letter-spacing: -1px;
  font-weight: 700;
  font-size: 16px;
}
.rent__choouse {
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.paski_chiziq {
  margin-bottom: -3px;
  color: #1a202c;
}
.rent__city {
  font-size: 12px;
  color: #90a3bf;
  line-height: 100%;
}

.ad__bottom_left {
  width: 576px;
  padding: 24px 48px;
  background-color: #fff;
  margin-top: 32px;
  border-radius: 10px;
  margin-bottom: 32px;
}
.ad__bottom {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}
.ad__bottom_center {
  color: white;
  background-color: #3563e9;
  border-radius: 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  padding: 18px;
  margin: 0 40px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.arrow {
  font-size: 24px;
  font-weight: 400;
}
.container1 input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.container1 {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 20px;
  user-select: none;
  transition: 100ms;
}

.checkmark {
  top: 0;
  left: 0;
  height: 24px;
  width: 24px;
  transition: 100ms;
  animation: dislike_effect 400ms ease;
}

.container1 input:checked ~ .checkmark path {
  fill: #ff5353;
  stroke-width: 0;
}

.container1 input:checked ~ .checkmark {
  animation: like_effect 400ms ease;
}

/* .container1:hover {
  transform: scale(1.1);
} */

@keyframes like_effect {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes dislike_effect {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}
.products__list {
  list-style: none;
  display: flex;
  /* column-gap: 32px; */
  align-items: center;
  justify-content: space-between;
}
.products__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.products__title {
  font-weight: 600;
  font-size: 16px;
  color: #90a3bf;
}
.products__link {
  text-decoration: none;
  color: #3563e9;
  font-weight: 600;
  font-size: 16px;
}

.products__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 290px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
}
.item__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 64px;
}

.products__header_left {
  display: flex;
  flex-direction: column;
}
.item__title {
  font-size: 20px;
  line-height: 150%;
  letter-spacing: -1.1px;
  vertical-align: middle;
}
.item__subtitle {
  font-weight: 700;
  color: #90a3bf;
  font-size: 14px;
}
.products__img {
  align-self: center;
}
.bottom {
  margin-bottom: 0px;
}
.products__bottom {
  display: flex;
  list-style: none;
  width: 256px;
  justify-content: space-between;
  align-items: center;
  margin-top: 64px;
  margin-bottom: 24px;
  /* column-gap: 10px; */
}
.products__bottom:nth-child(2n) {
  margin-bottom: 20px;
}
.products__bottom_item {
  display: flex;
  column-gap: 6px;
  align-items: center;
  justify-content: center;
  color: #90a3bf;
}
.item__gas_station {
  font-size: 20px;
}
.products__item_text {
  font-size: 14px;
}
.item__manual {
  font-size: 20px;
}
.products__people {
  font-size: 20px;
}
.products__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-top: 24px; */
}


.products__footer_left {
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
}

.another__price {
  flex-direction: column;
}

.products__real_price {
  display: flex;
  align-items: center;
}
.products__del_price {
  margin-left: -48px;
  color: #90a3bf;
  font-size: 14px;
  font-weight: 700;
}
.products__price {
  font-size: 20px;
  vertical-align: middle;
}
.products__day {
  font-weight: 700;
  font-size: 14px;
  vertical-align: middle;
  color: #90a3bf;
  margin-bottom: -4px;
}
.products__footer_link {
  text-decoration: none;
}
.products__btn {
  font-weight: 600;
}
